- content_for :head do
  %title Pinterest clone home

- content_for :header do
  .logo
    .wrapper
      %h1= image_tag( lorem.image("200x50", :text => "L O G O"), :alt => "" )
      .search
        %ul
          %li Search
      .right
        %ul
          %li About
          %li Login
  %nav
    .top-menu
      %ul
        %li Everything
        %li Videos
        %li Discussions
        %li Gifts

#container
  - 100.times do
    .item
      - @imgheight = ( rand(20) * 10 + 150 ).to_s + "px"
      = image_tag( "flickr://" + (lorem.first_name) , :alt => "",:width => "192px", :height => @imgheight )
      %h2= lorem.sentence
      .comments
        = 1 + rand(10)
        comments
      .chat
        .chatbox
          = image_tag( "flickr://" + (lorem.first_name) , :alt => "",:width => "30px", :height => "30px" )
          %b= lorem.name
          via
          %b= lorem.name
          onto
          %b= lorem.words rand(3) + 1
        - @chat = rand(3)
        - @chat.times do
          .chatbox
            = image_tag( "flickr://" + (lorem.first_name) , :alt => "",:width => "30px", :height => "30px" )
            %b= lorem.name
            %p= lorem.sentence

= javascript_include_tag( "jquery.flickrbomb.min.js" )